:root {
  --primary-font: "Aboreto", cursive;
  --secondary-font: "Montserrat", sans-serif;
  --backcolor: #e3f6f5;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  padding: 25px;
  font-family: var(--primary-font);
}

h2 {
  font-size: 24px;
  padding: 25px;
  font-family: var(--secondary-font);
}

.greet {
  margin-top: 10px;
}

.heading {
  background-color: var(--backcolor);
  padding: 60px;
  text-align: center;
}

img {
  height: 240px;
  width: 480px;
}

.film-scene,
.screen-shoot {
  margin-top: 60px;
}

.button-link {
  text-decoration: none;
  border: 1px solid #0d6efd;
  padding: 10px;
  border-radius: 5px;
}

.title-app {
  text-align: center;
}

@media (max-width: 768px) {
  .desc {
    text-align: center;
  }
  .title-app {
    text-align: center;
  }

  .button-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}

.about-color {
  background-color: var(--backcolor);
  border-radius: 5px;
}

.about-color,
.about-white {
  padding: 25px;
  font-family: var(--secondary-font);
  line-height: 25px;
}

.about-name {
  font-size: 48px;
  font-family: var(--primary-font);
  line-height: 60px;
}
